*.o
*.a
*.la
*.swp
*.Po
*.Plo
.*DS*Store
*.so
*.so.*
local

# http://www.gnu.org/software/automake

/Makefile.in
/Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.status
/config.log
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

